<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<!--
<pre>
  {{projects | json}}
</pre> -->
<div class="controls">
  <button class="send" data-ng-click="dashboard.sendData()">Send</button>
  <label for="search">Search</label>
  <input name="search" type="text" data-ng-model="dashboard.searchText">
</div>

<div class="project-list">
  <ul>
    <li class="project" data-ng-repeat="project in dashboard.projects| filter:searchText">
      <input type="checkbox" ng-model="project.selected">
      <span class="human-name">{{project.humanName}}</span>
    </li>
  </ul>
</div>

<div class="selected-projects">
  <h1>Selected</h1>
  <ul>
    <li data-ng-repeat="project in dashboard.projects | filter:{selected: true}">
      {{project.humanName}} {{project.selected}}
    </li>
  </ul>
</div>
