.project-list {
  width: 50%;
  display: inline-block;
  ul {
    list-style: none;

  }
  height: 400px;
  overflow: auto;
}

.selected-projects {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.send {
  font-size: 2rem;
  padding: 0 2rem;
  color: #5e5e5e;
}
